# Archivos de sistema operativo
Thumbs.db
.DS_Store

# Entornos de desarrollo
.gradle/
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# Build tools
build/
target/
out/
bin/
.micronaut/

# Archivos de proyecto específicos
.project
.settings/
.classpath
.factorypath
*.log

# Archivos de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Archivos de logs
*.log
logs/

# Archivos temporales
*.tmp
*.bak
*.swp
*~.nib
